@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    In carrying out our mandate under both the Privacy Act and the Personal Information Protection and Electronic Documents Act (PIPEDA), 
    we (Panucci's Pizza) collect personal information as defined by section 3 of the Privacy Act. As the guardian of Canadians’ privacy rights,
    we are committed to respecting the privacy rights of everyone whose personal information we have collected. 
    Please also see our Website terms and conditions of use to see how this policy applies to our website. 
    This Policy does not apply to our employees’ personal information. 

    This Policy is designed to comply with the Privacy Act and the principles of natural justice.
</p>
